.orange-bg{
    background-color: #fceae8;
    border-radius: 8px;
    height: 450px;
 
}

.container{
    margin-bottom: 50px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF126F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1{
    background-color: orange;
}

.cat2{
    background-color: orchid;

}

.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 8px;
}

.catogories h1{
    color: white;
}

.catogories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;;
}
.card-footer{
    background-color: white;
    border-top: none;
}

#subscribe{
    height: 300px;
    background-color:#fceae8;
    border-radius: 8px;
}
#subscribe h6{
    color: gray;
}

footer{
    text-align: center;
}